<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.apkin435762" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>IN Blog</name>
  <description>
        Um aplicativo simples para te mostrar o que há de novo no InterNerd Blog.
    </description>
  <author email="morais.kelvin@gmail.com" href="http://internerd.blog.br">
      Kelvin Morais
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>